{% extends "base.html.twig" %}

{% block main %}

<form class="container">
    <p>Search {{total_count|format_number}} records.</p>

    <div class="row" action="{{path('home')}}" method="get">
        <div class="col">
            <label for="surname" class="form-label">Surname:</label>
            <input type="text" class="form-control" name="surname" id="surname">
        </div>
        <div class="col">
            <label for="year" class="form-label">Birth/marriage/death year:</label>
            <input type="year" class="form-control" name="year" id="year">
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>

{% endblock %}
